<div class="pull-right">
<%= link_to "<i class='fa fa-arrow-left'></i> Retroceder".html_safe, categories_admin_blog_entries_path, class: "btn btn-default" %>
</div>
<br>
<%= simple_form_for(@category, url: create_category_admin_blog_entries_path, method: :post) do |f| %>
	<%= render partial: 'form_category', locals: {:f => f}%>
 
 	<div class="form-actions">
    	<%= f.submit "Guardar registro", class: "btn btn-primary" %>
  	</div> 
<% end %>