<%= javascript_include_tag "home/index" %>

<div ng-show="loading"> Cargando... </div>
<div ng-show="!loading && admins.length <= 0"> No se encontraron los resultados </div>

<ul>
	<li ng-repeat="admin in admins">{{admin.names}} {{ admin.lastnames}}</li>
</ul>

<%= link_to "Click", root_path %>