<h3>Recent Comments</h3>
<div class="row">
    <div class="col-sm-12">
        <% @blog_comments.limit(5).each do |msj|%>
        <div class="single_comments">
            <img alt="" src="<%=img_placehold("#{msj.name[0]}#{msj.name[1]}", 30, 12, true)%>">
            <p><i>"<%=msj.message%>" </i></p>
            <div class="entry-meta small muted">
                <span>By <a href="#"><%=msj.name%></a></span>On <a href="#"><%=msj.blog_entry.title.truncate(35)%></a>
            </div>
        </div> 
        <hr>
        <% end %>
    </div>
</div> 