<h3>Recent Comments</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="single_comments">
            <img alt="" src="images/blog/avatar3.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
            <div class="entry-meta small muted">
                <span>By <a href="#">Alex</a></span>On <a href="#">Creative</a>
            </div>
        </div>
        <div class="single_comments">
            <img alt="" src="images/blog/avatar3.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
            <div class="entry-meta small muted">
                <span>By <a href="#">Alex</a></span>On <a href="#">Creative</a>
            </div>
        </div>
        <div class="single_comments">
            <img alt="" src="images/blog/avatar3.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
            <div class="entry-meta small muted">
                <span>By <a href="#">Alex</a></span>On <a href="#">Creative</a>
            </div>
        </div>
        
    </div>
</div> 