<h3>Tag Cloud</h3>
<ul class="tag-cloud">
    <li><a href="#" class="btn btn-xs btn-primary">Apple</a></li>
    <li><a href="#" class="btn btn-xs btn-primary">Barcelona</a></li>
    <li><a href="#" class="btn btn-xs btn-primary">Office</a></li>
    <li><a href="#" class="btn btn-xs btn-primary">Ipod</a></li>
    <li><a href="#" class="btn btn-xs btn-primary">Stock</a></li>
    <li><a href="#" class="btn btn-xs btn-primary">Race</a></li>
    <li><a href="#" class="btn btn-xs btn-primary">London</a></li>
    <li><a href="#" class="btn btn-xs btn-primary">Football</a></li>
    <li><a href="#" class="btn btn-xs btn-primary">Porche</a></li>
    <li><a href="#" class="btn btn-xs btn-primary">Gadgets</a></li>
</ul>