<section id="blog" class="container"> 
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <%= render partial: "entries"%> 
            </div><!--/.col-md-8-->

            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">
                            <input type="text" placeholder="Search Here" autocomplete="off" class="form-control search_box">
                    </form>
                </div><!--/.search-->
				
				<div class="widget categories">
                    <%= render partial: "comments" %>                      
                </div><!--/.recent comments--> 

                <%= render partial: "categories" %> 
                <div class="widget tags">
                    <%= render partial: "tags" %> 
                </div><!--/.tags--> 
			</aside>  
        </div><!--/.row-->
    </div>
</section>